*{
  margin: 10;
  padding: 10;
}


body {
background-image: url('./download\ \(7\).jpg');
}



  
img {
  display: block;
  margin-left: auto;
}

.main-nav
{
    list-style:none;
      
       margin: 45px;

}

.main-nav li
{
    display: inline-block;
}

.main-nav-li a 
{
    color: white;
    text-decoration: none;
    padding: 10px 20;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
}

.main-nav li.active a
{
    border:1pxsolid plum
}

.main-nav li a
{
    border:1px solid 
}




.centre{
    display:block;
    

}


div.a {
    text-align: center;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font: size 15px;
}
 


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
     

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

  body {
    text-align: center;
}

body {
  color: white;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 25px;
}

.box {
  background: pink;
  height: 80px;
  width: 80px;
}

*{
  margin: 10;
  padding: 10;
}


body {
background-image: url('./download\ \(7\).jpg');
}



  
img {
  display: block;
  margin-left: auto;
}

.main-nav
{
    list-style:none;
      
       margin: 45px;

}

.main-nav li
{
    display: inline-block;
}

.main-nav-li a 
{
    color: white;
    text-decoration: none;
    padding: 10px 20;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
}

.main-nav li.active a
{
    border:1pxsolid plum
}

.main-nav li a
{
    border:1px solid 
}




.centre{
    display:block;
    

}


div.a {
    text-align: center;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font: size 15px;
}
 


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
     

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

  body {
    text-align: center;
}

body {
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

.box {
  background: pink;
  height: 80px;
  width: 80px;
}

h1 {
  color: white;
}